<ul class="list-plain">
  <% @articles.each do |article| %>
  <li class="card">
    <h2 class="card-header"><%= link_to article.title, article_path(article) %></h2>
    <p class="card-body"><%= article.content %></p>
  </li>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>
